@CHARSET "UTF-8";
*{
	padding:0;
	margin:0;
	font: Helvetica,Arial,"\5b8b\4f53",sans-serif;
}
#header{
	background-color:#39424E;
	height:120px;
	width:100%;
	border-bottom:7px solid #2AB760;
}
#header .container h1{
	color:#2AB760;
	margin-left:400px;
	margin-top:30px;
}
#header .container small{
	color:#2AB760;
}
#header .dropdown{
	position:relative;
	top:-40px;
	right:-1000px;
	width:150px;
	height:60px;
	text-align:center;
	line-height:60px;
	border-radius:8px;
}
#header .dropdown-toggle {
	color:white;
	height:100px;
	font-size:30px;	
	width:100px;
}
#header .dropdown-toggle:hover{
	text-decoration:none;
	cursor:pointer;
}
#header .dropdown-menu{
	background-color:#232931;	
}
#header .dropdown-menu:hover a{
	background-color:#232931;	
}
#header .dropdown-menu li a{
	color:#fff;
	font-weight:bold;
}
#mainbody .mainbody-left{
	
}
#mainbody .mainbody-left ul{
	display:none;
}
#mainbody .mainbody-left .list-menu{
	margin-top:50px;
	height:300px;
	border-radius:10px;
	background-color:#39424E;
	width:50px;
	float:left;
	color:#2AB760;
	font-size:30px;
}
#mainbody .mainbody-left .list-menu i{
	margin-left:10px;
	margin-top:20px;
}
#mainbody .mainbody-left .list-menu .tab{
	background-color:#2AB760;
	margin-top:50px;
	height:60px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	width:30px;
}
#mainbody .mainbody-left .on{
	display:inline-block;
}
#mainbody .mainbody-left .list-content{
	margin-top:50px;
	height:300px;
	border-radius:10px;
	background-color:#39424E;
	width:200px;
	float:left;
	font-size:30px;
	color:#2AB760;
}
#mainbody .mainbody-left .list-content i{
	margin-left:150px;
	margin-top:20px;
}
#mainbody .mainbody-left .capsule{
	border: 0 solid transparent;
	-moz-border-top-right-radius:100px;
	-webkit-borde-top-right-radius:100px;
	border-top-right-radius:100px;
	-moz-border-bottom-right-radius:100px;
	-webkit-border-bottom-right-radius:100px;
	border-bottom-right-radius:100px;
	width:200px;
	height:60px;
	background:#2AB760;
	line-height:40px;
	margin-top:50px;
}
#mainbody .mainbody-left .capsule a{
	font-size:25px;
	color:#fff;
	text-decoration:none;
}
#mainbody .mainbody-right{
	margin-left:400px;
}
#mainbody .mainbody-right-top{
	color:#2AB760;
	font-size:30px;
	font-weight:bold;
	margin-top:30px;
}
#mainbody .mainbody-right-top .divider{
	height:2px;
	width:300px;
	background-color:#2AB760;
}
#mainbody .mainbody-right-middle{
	margin-top:50px;
	text-align:center;	
	width:530px;
	height:300px;
	border:10px solid #fff;
	background-color:#fff;
	padding:50px;
	position:relative;
	/*主阴影*/
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
   	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; 
   	-o-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; 
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0px 0px 40px rgba(0, 0, 0, 0.1) inset;
}

#mainbody .mainbody-right-middle:before, #mainbody .mainbody-right-middle:after{
    content:"";
	position:absolute; 
	z-index:-1;
	-webkit-box-shadow:0 0 50px rgba(0,0,0,0.8);
	-moz-box-shadow:0 0 50px rgba(0,0,0,0.8);
	box-shadow:0 0 50px rgba(0,0,0,0.8);
	/*图形大小设置可以用width，height
				 也可以指明4个位置，让它自己去计算大小，必须四个方向都设置，有一个不设置就不会出现*/
	top:50%;
	bottom:0;
	left:10px;
	right:10px;
	background:red;
	/*水平方向半径100，垂直方向10*/
	-moz-border-radius:100px / 10px;
	border-radius:100px / 10px;
} 

#mainbody .mainbody-right-middle .form-group{
	margin-bottom:30px;	
	color:#2AB760;
}
#mainbody .mainbody-right-middle form label{
	font-size:25px;
	position:relative;
	top:5px;
}
#mainbody .mainbody-right-middle form input{
	width:200px;
	font-size:20px;
	margin-right:5px;
	color:#000;
}
#mainbody .mainbody-right-middle form i{
	font-size:20px;
}

